* {
	margin: 0;
	padding: 0;
	font-family: 'Spartan', sans-serif;
	color: #222;
}

#hero-overlay h1{
	font-family: 'Zilla Slab Highlight', cursive;
}

.color-white{
	color: #fff;
}

h1{font-size: 60px;}
h2{font-size: 50px;}
h3{font-size: 40px;}
h4{font-size: 30px;}



/*Navbar*/
/* The navigation bar */
.header {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
  }

  header{
	display: flex;
	flex-flow: row wrap;
	background: #fff;
	padding: 20px 5vw;
	align-items: center;
	position: fixed;
	visibility: visible;
	width:90%;
}

header .logo-container{
	flex-basis: 20%;
}
header .logo-container .page-logo{
	height: 60px;
	width: auto;
}

header .MobileMenu{
	display: none;
}

header .header-nav{
	flex-basis: 80%;
	text-align: right;
}

header .header-nav ul li{
	display: inline-block;
	padding: 0 10px;
}

header .header-nav ul li a{
	text-decoration: none;
	transition: 250ms;
}

header .header-nav ul li a:hover{
	color: #f37871;
}

/*Hero Section*/
#home-hero{
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

#home-hero #hero-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(119,119,0,0.5) 0%, rgba(255,255,0,0.7) 100% );
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

#home-hero #hero-overlay h4{
	margin-bottom: 20px;
}

#HeadImg{
	background-color: black;
	padding-left: 20%;
}

/*Tickets*/

#TixBtn{
	padding: 16px;
	text-align: center;
}

#TickInfo{
	font-size: 24px;
}

#StandTic{
	font-size: 28px;
	background-color: green;
	padding-top: 20px;
	padding-bottom:20px;
}

#VIPTic{
	font-size: 28px;
	background-color: #0af;
	padding-top: 20px;
	padding-bottom:20px;
	padding-left: 30px;
	padding-right: 30px;
	
}
#BTNTIX{
	flex-flow: wrap;
	padding-right: 75%;
	height: 20px
}

#statement-section h2{
	margin-bottom: 50px;
}

#statement-section p{
	margin-bottom: 30px;
}

button{
	border: 0;
	border-radius: 4%;
}

/*Subscribtion*/

.default-container-spacing {
	padding: 50px 5%;
	border: 12px;
	border-color: black;
}

#footer-container {
    background-color: #666600;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#contact-form .form-row {
    margin-bottom: 30px;
}

#contact-form input, #contact-form textarea, #contact-form select {
    width: 40%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.4);
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    outline: none;
}

#contact-form input:hover, #contact-form select:hover {
    border-bottom: 2px solid rgba(255,255,255,1);
}

#contact-form input:focus, #contact-form select:focus {
    border-bottom: 2px solid #FF546C;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
    color: rgb(255,255,255);
}

#contact-form button[type="submit"]{
    display:inline-block;
    background-color: transparent;
    color: #fff;
    border:2px solid #ff546c;
    border-radius: 5px;
    width: 80%;
    margin: auto 0;
    padding: 0 5px;
    font-family: "Poppins", sans-serif;
    transition: 250ms;
    cursor: "pointer";
}

#contact-form button[type="submit"]:hover{
    background-color: #ff546c;
}

/*Photo Gallery*/
#portfolio-section{
	padding: 50px 5vw;
	background-color: black;
}

#portfolio-section > h2{
	text-align: center;
	margin-bottom: 50px;
	color: #fff;
}

#portfolio-section .grid{
	margin: 0 auto;
	flex-flow: wrap;
	position: inherit;
}

#portfolio-section .grid-item{width: 30%;}

#portfolio-section .grid-item img{width: 100%;}

@media only screen and (max-width: 991px){

	header{
		justify-content: space-between;
	}
	header .mobile-menu-toggler{
		display: block;
		outline: none;
	}

	header .header-nav{
		position: fixed;
		right: -100%;
		top: 105px;
		height: calc(100%-105px);
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		transition: 500ms;
		z-index: 100;
	}

	header .header-nav.visible{
		right: 0;
	}

	header .header-nav ul li{
		display: block;
		text-align: center;
		padding: 25px 10px;
	}


	#HeadImg{
		padding-left: 0;
	}
}

